body
{
 background: #10135a;
 margin: 0;
 padding: 0;
}
.container-loader
{
 height: 40px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
}
.container-loader span
{
 height: 15px;
 width: 15px;
 display: inline-block;
 border-radius: 80%;
 transition: all .5s;
 animation: animate 2s infinite;
}
.container-loader span:nth-child(1)
{
 animation-delay: 0;
}
.container-loader span:nth-child(2)
{
 animation-delay: .1s;
}
.container-loader span:nth-child(3)
{
 animation-delay: .2s;
}
.container-loader span:nth-child(4)
{
 animation-delay: .3s;
}
.container-loader span:nth-child(5)
{
 animation-delay: .4s;
}
.container-loader span:nth-child(6)
{
 animation-delay: .5s;
}
.container-loader span:nth-child(7)
{
 animation-delay: .6s;
}
.container-loader span:nth-child(8)
{
 animation-delay: .7s;
}
.container-loader span:nth-child(9)
{
 animation-delay: .8s;
}
.container-loader span:nth-child(10)
{
 animation-delay: .9s;
}
.container-loader h1
{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #fff;
 margin: 0;
 padding: 0;
}
@keyframes animate 
{
 0%
 {
  border: 1px solid #fff;
  background: transparent;
  transform: translateY(0);
 }

 50%
 {
  border: 1px solid #fff;
  background: red;
  transform: translateY(-25px);
 }
100%
 {
  border: 1px solid #fff;
  background: yellow;
  transform: translateY(0);
 }
}
